.moviesList {
  display: grid;
  padding: 0 1rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, 175px);
  grid-auto-rows: 200px;
}

.movieCard {
  background: whitesmoke;
  list-style-type: none;
  display: grid;
  place-items: center;
}
