.resultList {
  position: absolute;
  background: white;
  box-shadow: 0 0 20px 2px lightgrey;
  border-radius: 10px;
  margin-top: 0.5rem;
  max-height: 400px;
  overflow-y: scroll;
  padding: 0;
}

.resultItem {
  list-style-type: none;
  padding: 0.5rem;
  cursor: pointer;
}

.resultItem img {
  width: 50px;
  height: 70px;
  object-fit: cover;
}

.searchResultsRoot [data-reach-combobox-option] {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 50px 1fr;
}

.searchResultsRoot [data-reach-combobox-option] img {
  object-fit: cover;
  width: 30px;
  height: 45px;
}
