.searchEngineRoot {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.searchEngineRoot [data-reach-combobox] {
  align-items: center;
  display: inline-flex;
  position: relative;
}

.searchEngineRoot [data-reach-combobox-input] {
  border: 1px solid #d6dde2;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 4px;
  outline: none;
}

.searchEngineRoot [data-reach-combobox-input]:focus {
  border-color: #475868;
}

.searchResultsRoot {
  border-radius: 10px;
  margin-top: 0.5rem;
}

.searchResultsRoot [data-reach-combobox-option] {
  align-items: center;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 50px 1fr;
}

.searchResultsRoot [data-reach-combobox-option] img {
  object-fit: cover;
  width: 30px;
  height: 45px;
}

.loadingRoot {
  animation: rotate 1s linear infinite, delayVisibility 0s 0.3s forwards;
  position: absolute;
  right: 1rem;
  visibility: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes delayVisibility {
  to {
    visibility: visible;
  }
}

